he5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20pt;
  font-weight: bold;  
}

un{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16pt;
  font-weight: bold;
}
nc{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14pt;
}
textarea{
	resize: none;
}
#myCarousel {
  height: 300;
  width: 500;
  overflow: hidden;
}