{% extends "_base.html" %}
{% block bodycontent %}


<br><br><br><br>

<body>
<div class="container">
	Title: {{event.title}} <br>
	Summary: {{event.summary}}<br>
	Start date: {{event.start_date}}<br>
	End date: {{event.end_date}}<br>
	Start time: {{event.start_time}}<br>
	End time: {{event.end_time}}<br>
	Information {{event.information}}<br>
	Max attendees: {{event.attendance}}<br>
	Location: {{event.location}}<br>
	Votes: {{event.votes}}<br>
	<br><br>
	<div class="container">
		<div class="row">
			<form method="post" action="/UpVote">
				<input type="hidden" name="id" value="{{event.title}}{{event.start_date}}{{event.start_time}}">
				<input type="submit" value="Upvote">
			</form>

			<form method="post" action="/DownVote">
				<input type="hidden" name="id" value="{{event.title}}{{event.start_date}}{{event.start_time}}">
				<input type="submit" value="DownVote">
			</form>
		
			{% if delete == 1 %}
			<form method="post" action="/DeleteEvent">
				<input type="hidden" name="id" value="{{event.title}}{{event.start_date}}{{event.start_time}}">
				<input type="submit" value="Delete this event">
			</form>
			{% endif %}
		</div>
	</div>
	<br>
	<div class = "container">
		<div class="panel panel-default" id="accordian">
			<div class = "panel-heading">
				<div class="panel-title text-center">
					<a href="#collapse" style="text-decoration:none" data-toggle="collapse" data-parent="accordian">
					<he5>Comments (click to hide)</he5>
					</a>
				</div>
			</div>
			<div id="collapse" class="panel-collapse collapse in">
				<div class="panel-body">
					{% for comment in comments %}
					<un>{{comment.user}}:</un><br>
					{{comment.text}}<br>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class ="container">
	<nc>Add New Comment</nc>
		<form method="post" action="/CommentHandler">
		<input type="hidden" name="id" value="{{event.title}}{{event.start_date}}{{event.start_time}}">
		<textarea name="comment"></textarea><br>
		<input type="submit" value="Submit Post">
		</form>
	</div>
	
</div>
</body>


{% endblock %}