{% extends "_base.html" %}
{% block bodycontent %}

<!--
<style>
socal{
    color: black;
    font-style: Times;
    font-size: 72px;
    text-align: center;
}
body{
    background-color: grey;
}

</style>
!-->
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
</style>

<body bgcolor=#E0E0E0>
<br><br><br>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
	<div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/images/image1.jpg" alt="Image 1" width="460" height="289">
      </div>

      <div class="item">
        <img src="/static/images/image2.jpg" alt="Image 2" width="460" height="289">
      </div>
    
      <div class="item">
        <img src="/static/images/image3.jpg" alt="Image 3" width="460" height="289">
      </div>

      <div class="item">
        <img src="/static/images/image4.jpg" alt="Image 4" width="460" height="289">
      </div>
    </div>
	
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</body>
<br>

<div class = "container">
	<label for: "inputTitle" class="control-label">Input your event data</label><br>
	<form role = "form" method="post" action="/processform">
		<div class="form-group">
			<label for: "summary" class="control-label">Summary: </label><br>
			<input type="text" name="summary">
		</div>
		<div class="form-group">
			<label for: "location" class="control-label">Location:</label> <br>
			<select name="location">
				<option>LA</option>
				<option>NY</option>
				<option>Pittsburgh</option>
			</select>
		</div>
		<div class="form-group">
			<label for: "startDate" class="control-label">Start date:</label> <br>
			<input type="text" name="startdate"><br>
		</div>
		<div class="form-group">
			<label for: "endDate" class="control-label">End date: </label> <br>
			<input type="text" name="enddate"><br>
		</div>
		<div class="form-group">
			<label for: "startTime" class="control-label">Start time: </label> <br>
			<input type="text" name="starttime"><br>
		</div>
		<div class="form-group">
			<label for: "endTime" class="control-label">End time: </label><br>
			<input type="text" name="endtime"><br>
		</div>
		<div class="form-group">
			<label for: "attendance" class="control-label">attendees: </label><br>
			<input type="text" name="attendees">
		</div>
		<button type="submit" class="btn btn-default">Submit</button><br>
	</form>
</div>
{% endblock %}